body{
	width: 100%;
	margin: 0;
	font-family: 'Dosis', sans-serif;
	display: block;
	font-family: 'Open Sans', sans-serif;
	display: block;
}

/*Navegação*/
.header{
	width: 100%;
	height: auto;
	position: fixed;
	padding: 8px;
	background-color: #FFAB91;
	text-align: center;
	z-index: 2;
	font-family: 'Dosis', sans-serif;
}

.header nav{
	padding-top: 25px;
	padding-bottom: 25px;
}

.header nav a{
	font-size: 150%;
	padding-left: 40px;
	padding-right: 40px;
	color: #fff;
	transition: 1s;
	font-weight: bold;
	text-decoration-line: none;
}

.header nav a:hover{
	color: #FF6F00;
	transition: 1s;
}


.contato_header {
	padding-top: 10px;
}

.header div p{
 	color: #fff;
 	text-align: center;
 }

.contato_header i{
	color: #fff;
	font-size: 24px;
	transition: 1s;
}

.contato_header i:hover{
	color: #FF6F00;
	transition: 1s;
}

/*Divição entre as div*/

.div_principais{
	font-family: 'Dosis', sans-serif;
	padding: 0;
	margin: 0;
	padding-top: 5%;
	width: 100%;
}

.div_principais h2{
	margin: 0;
	text-align: center;
	color: #fff;
	padding-bottom: 10px;
	padding-top: 10%;
}

.screen_div{
	height: 1024px;
	width: auto;
}

.screen_div{
	margin: auto;
}


/*Home*/

.home_class{
	height: auto;
}

.home_class video{
	width: 100%;
}

.home_class div div{
	margin: 0;
	padding: 0;
}

/*.home_class div{
	margin: auto;
	padding: auto;
}

.home_class div img{
	width: 100%;
}*/

/*Loja*/
.loja_class{
	height: auto;
	background-color: #eee;
}

.loja_class div h2{
	color: #000;
}

.loja_class div{
	padding-top: 1%;
	padding-bottom: 1%;
}
.loja_class div img{
	width: 100%;


}

.loja_class div button{
	border-color: #FF7043;
	background-color: #FF7043;
	margin-top: 10px;
	width: 100%;
}

/*Sobre*/
.sobre_class{
	background:
}

/*Contatos*/
.contatos_class{
	background-color: #eee;
	height: auto;
}


.contatos_class div h2{
	color: #000;
}

.contatos_class iframe{
	width: 100%;
	height: 500px;

}

.contatos_numero{
	margin-top: 20px;
}

.contatos_class p{
	font-size: 18px;
	text-align: left;
}

.contatos_margin{
	margin-top: 20px;
	padding-bottom: 20px;

}

/*Rodapé*/
.footer{
	height: auto;
	background-color:#FFAB91;
}

.footer div{
	margin: auto;
}

.footer i{
	color: #fff;
	font-size: 36px;
	padding-top: 10px;
	margin-right: 50%;
	margin-left: 50%;
	transition: 1s;
}

.footer i:hover{
	color: #FF6F00;
	font-size: 36px;
	transition: 1s;
}

.footer p{
	color: #fff;
	margin: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
}

.home_titulo { 
	position: absolute;
	z-index: 1;	
	font-weight:100; 
	color: white;
	padding: 2rem;
	width: 100%;
	height: auto;
	margin:2rem;
	font-size: 1.2rem;
}

.home_titulo h2{
	padding-top: 20px;
}

.home_titulo h1 {
	text-align: center;
	font-weight: bold;
 	font-size: 700%;
  	margin-top: 2.5em;
  	letter-spacing: 3rem;
}


@media only screen and (max-width: 767px) {
    .screen_div div {
        margin: auto;
    }
}
